body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

h1 {
    margin-top: 50px;
    color: red;
}

li {
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

h2 {
    color: purple;
}

.product {
    color: purple;
    font-weight: bold;
}

h4 {
    color: darkgoldenrod;
}